/dina-web-portal/nb-configuration.xml
/dina-web-portal/faces-config.NavData
/dina-web-portal/src/main/resources/.DS_Store
*/target/
/dina-web-logic/target/
/dina-web-portal_old/
/docker-compose.local.yml
/todo.md
/notes
/dina-web-portal/project-initdata.yml

*/.DS_Store
dina-web-portal/src/main/resources/.DS_Store

.DS_Store
certs/*.crt
certs/*.key
certs/.gitkeep

/project-initdata-local.yml
/project-initdata.yml
/dina-web-portal/nbproject/
