/dina-web-portal/nb-configuration.xml
/dina-web-portal/src/main/resources/.DS_Store
*/target/
/dina-web-logic/target/
/dina-web-portal_old/
/docker-compose.local.yml
/todo.md

.DS_Store
certs/*.crt
certs/*.key
certs/.gitkeep

/project-initdata-local.yml
/project-initdata.yml
