body * {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
}

.mainbody {
    background-color: transparent;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.back {
    border:none;
    background-color:#0b5e82;
    color: #ffffff;
    width:100%;
    height: 70px;
    min-width:0;
    padding:0;
    margin:0;
    margin-top: 5px;
    padding-bottom: 40px;
    padding-top: 20px;
    /*border-radius: 10px 10px 0 0;*/
    float:none !important
}

/* header */
.naturarvHeader {
    height: 80px;
    width: 980px;
    margin-left: auto;
    margin-right:  auto;
    /*background: url('../resources/images/dina_header.png') no-repeat scroll right center transparent;*/
    border-bottom: solid   1px;
    overflow: auto;
}

.headerlogo {
    width: 15%;
    padding-right: 20px;
    float: right;
    text-align: right;
    vertical-align: middle;
}

.headerText {
    width: 80%;
    float: left;
    color: #FFFFFF;
    padding-top: 30px;
    padding-left: 20px;
    font-family: "Arial",sans-serif;
}

.headertitle {
    font-size: 30px;
    color: #FFFFFF;
    text-align: left;
    margin-left: 20px;
    font-family:   serif;
}

.topmenu {
    background-color:#072735;
    width:980px;
    /*padding-bottom: 2px;*/
}


.topmenu a.current {
    background: none repeat scroll 0 0 #036fab; /*#0C7D0C;*/
}

.topmenu a {
    width: auto;
    padding: 11px 15px;
    border-right: none;
    border-right: 1px solid #0b5e82;
    color: #FFFFFF;
    display: block;
    font-family: "Arial",sans-serif;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 2px 1px #436b16;
    /* filter: dropshadow(color=#2e5900, offx=1, offy=1);*/
}


.topmenu li {
    overflow: hidden;
    position: relative;
    float: left;
    display: block;
    width: auto;
}

.topmenu ul {
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
}





.languagePanel {
    float: right;
    vertical-align: top;
    margin-top: -20px;
    margin-right: 10px;
    font-weight: bold;
}


.collectionslanguagePanel {
    float: right;
    margin-right: 10px;
    font-weight: bold;
    text-align: right;
}

.main {
    width: 980px;
    margin: auto;
    border-bottom: solid   1px;
}

.homePanel {
    border-top: solid 1px;
    border-bottom: solid   1px;
}

.topMenu {
    /*padding: 15px 0px 0px 0px;*/
    border-bottom: solid   1px;
}

.searchPanel {
    text-align: center;
    padding: 25px 0px 25px 0px;
    /*border-bottom: solid   1px;*/
}

.topAlign {
    vertical-align: top;
}

.pageContent.ui-g {
    width: 980px;
    padding-top: 20px;
    margin-left: 20px;
    padding-right: 200px;
}

.textRow.ui-g-12 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.contentRow.ui-g-12 {
    padding-bottom: 10px;
}

.textTitle {
    font-size: 20px;
    font-weight: bold;
}

.textSubTitle {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

.imageViewPanel {
    font-family: Arial,sans-serif;
    font-weight: bold;
}

.listViewCheckbox {
    margin-top: 2px;
    margin-left: 2px;
    margin-top: 5px;
}

/*foot*/
.contactFootPanel {
    width: 980px;
    margin-left: auto;
    margin-right:  auto;
    padding: 5px 20px 5px 20px;
}


.contactFootPanel a {
    color: #006699;
    text-decoration: underline;
}



#foot {
    position: absoulte;
    bottom: 0;
    height: 125px;
}

.footStyle{
    background-color:#686868;
    margin:0 auto;
    max-width:940px;
    padding-bottom:20px;
    padding-left:10px;
    padding-right:10px;
    -webkit-border-radius: 0px 0px 15px 15px;
    border-radius: 0px 0px 15px 15px;
    float: left;
    width: 100%;
}

.textfoot{
    font-size: 10px;
    color:#ffffff;
    font-family: "Arial",sans-serif;
}

.welcomeheader {
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    padding-left: 120px;
    padding-top: 20px;
}

.readMoreLink.ui-g-8 {
    float: right;
    text-align: right;
    padding-top: 2em;
    padding-right: 1em;
}

.baggimg.ui-g-12 {
    padding-left: 3em;
    padding-top: 3em;
    padding-right: 3em;
    text-align: right;
}

.baggimgtext {
    font-size: 9px;
    text-align: center;
}


.statistic {
    vertical-align: top;
    width: 220px;
    float: right;
}

.leftcolumn {
    float: left;
    width: 80%;
    text-decoration: underline;
    color: #086A87;
    font-size: 11px;
}


.rightcolumn {
    float: right;
    width: 20%;
    text-decoration: underline;
    color: #086A87;
    font-size: 11px;
}

.leftcolumnNoLink {
    float: left;
    width: 80%;
    font-size: 11px;
}


.rightcolumnNoLink {
    float: right;
    width: 20%;
    font-size: 11px;
}



/*search section*/
.searchBoxPanelSimple {
    float: right;
}

.simplesearchpanel {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}


.advancesearchpanel {
    width: 940px;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
}

.queryDropdownBox {
    width: 70px;
    margin-top: 4px;
}

.queryDropdownBoxContent {
    width:100px;
    margin-top: 4px;
}

.queryDropdownBoxField {
    width:170px;
    margin-top: 4px;
}

.typeStatusDropdwon {
    width:270px;
    margin-top: 4px;
}

.alignBottom {
    vertical-align: bottom;
}

/*result page*/
#noResult {
    margin: 20px 20px 20px 20px;
    font-size: 14px;
    font-weight: bold;
}

.resultHeader {
    /*border-top: solid 1px;*/
    border-bottom: solid   1px;
    padding: 5px 0px 5px 0px;
}

.resultHeaderImages {
    vertical-align: bottom;
}

.resultTableImageColumn {
    width: 16px;
}


.resultTableDataColumn {
    width: 500px;
    /*    vertical-align: middle; */
}


.resultTableDataColumn a {
    text-decoration: underline;
}


.imagePanel {
    width: 700px;
    float:right;
}

.imagePanel>tbody>tr>td {
    vertical-align: top;
}


.tableIconCol {
    text-align: left;
    font-weight: bold;
    width: 10px;
}


.simpleTableIconCol {
    width: 20px;
}

.simpleTableLabelCol {
    text-align: left;
    font-weight: bold;
    width: 180px;
}

.simpleTableFungiLabelCol {
    text-align: left;
    font-weight: bold;
    width: 220px !important;
}


.simpleTableValueCol {
    text-align: left;
    width: 470px;
}

.emptyColumn {
    width: 350px;
}

.linkColumn {
    /*    vertical-align: top;*/
    width: 180px;
}


.downLink {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 11px;
    margin: 0;
}


.navigationPanel {
    text-align: center;
    width: 730px;
    margin-left: auto;
    margin-right: auto;
}

.pagingNumberText {
    font-weight: bold;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px !important;
}

.searchColumn {
    vertical-align: top;
    width: 730px;
    float: left;
    padding-right: 10px;
}



/*map view*/
.largeMap {
    width:700px;
    height:410px;
}


/* map info window*/
.mapInfoWindos {
    text-align: center;
    display: block;
    margin: auto;
    overflow: visible;
    width: 300px;
}

.detailDlgLabel {
    vertical-align: top;
    width: 150px;
}


.detailDlgText {
    vertical-align: top;
    width: 450px;
}


/* error report page */
.errorcol1 {
    vertical-align: top;
    width: 150px;
    text-align: left;
    padding-right: 20px;
}

.errorcol2 {
    vertical-align: top;
    width: 580px;
    padding-right: 20px;
}

.errorcol3 {
    vertical-align: top;
    float: right;
    width: 15px;
    padding-right: 20px;
}





.collectionChart {
    height:300px;
    width: 550px;
}



.ui-inputgroup {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding-left: 250px;
}

.ui-inputgroup .ui-inputgroup-addon {
    padding: 4px;
}
.ui-inputgroup .ui-inputgroup-addon, .ui-inputgroup .ui-inputgroup-addon-checkbox {
    display: inline-block;
    text-align: center;
    min-width: 1.5em;
    border: 0 none;
}
.ui-inputgroup .ui-inputtext {
    padding-left: .5em;
}

body .ui-fluid .ui-inputgroup .md-inputfield {
    width: 100%;
    box-sizing: border-box;
}

body .ui-inputgroup .ui-inputgroup-addon .material-icons {
    top: -6px;
    position: relative;
}

.ui-fluid .ui-inputgroup .ui-button {
    width: auto;
}

.white-button.ui-button.ui-state-default {
    background-color: #ffffff;
    color: #222222;
    border-color: #d6d6d6;
}

.white-button.ui-button.ui-state-default:enabled:hover,
.white-button.ui-button.ui-state-default:focus {
    background-color: #f2f2f2;
    border-color: #ccc;
    color: #373a3c;
    border-color: #ccc;
}


/* ##################### link ######################### */

.textLink a {
    text-decoration: underline !important;
    color: #086A87;
    font-size: 11px;
}



/* link */
a {
    color: #000000;
    text-decoration: underline;
}

a:hover {
    color: #330099;
    text-decoration: underline;
}

.activelink {
    color:  #0B4C5F;
    font-weight: bold;
    text-decoration: none !important;
}

.inactivelink{
    color: #585858;
    font-weight: bold;
    text-decoration: none !important;
}

.inactiveTablink {
    color:  #006699;
    text-decoration: none !important;
}


.linktext {
    text-decoration: underline;
    color: #8B8786;
}

.link {
    color: #006699;
    text-decoration: underline;
}




/***************************** replace origin padding  **************************/
.ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6,
.ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
    padding: 0em;
}


/***************************************** image **************************/
.images {
    border: none;
}

.imageBottomAlign {
    border: none;
    vertical-align: bottom;
}

.imagesbottomepadding {
    border:  none;
    padding-bottom: 250px;
}

.imageswithpedding {
    border: none;
    padding: 5px;
}

.imageCamera {
    border: none;
    padding-top: 5px;
}


.imageInStartPage {
    border: none;
    width:  350px;
    height: 292px;
}


.queryImages {
    border: none;
    width: 17px;
}

.imageswithtopmarging {
    border: none;
    margin-top: 3px;
}

.imageswithmarging {
    border: none;
    margin-top: 10px;
}



/*************************** accordingpanel ***********************************/
.accordingpanel {
    padding-left: 20px;
    padding-right: 20px;
    width: 650px;
}

.accordingpanel .ui-accordion-header  {
    background: transparent !important;
    font-size: 12px;
    font-weight: bold;
}

.accordingpanel .ui-accordion-content {
    background: transparent;
    font-size: 12px;
    font-weight: bold;
}

.accordingpanel .ui-state-active {
    background: transparent;
}


/** ##################################### data table ################################ **/

.ui-datatable * {
    border : 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-left: 1px !important;
}


.ui-datatable .ui-datatable-data td {
    vertical-align : top;
    white-space: normal !important;
}

/*.ui-datatable table thead tr {
    display: none; 
} 
*/


.ui-datatable TR.ui-state-highlight {
    color: #000000;
    background: none repeat scroll 0 0 transparent  !important;
    border: inherit !important;
}




.simpleResultTable.ui-datatable table thead tr {
    display: none;
}

.simpleResultTable.ui-datatable * {
    padding: 1px !important;
}

.imageResultTable.ui-datatable table thead tr {
    display: none;
    vertical-align: top;
}

.ui-chkbox-box {
    background-image: url('../resources/images/icons/ckbox.png') !important;
    height: 15px !important;
    width: 15px !important;
    background-color: transparent !important;
}




.detailTable.ui-datatable table thead tr {
    display: none;
}

.detailTable.ui-datatable * {
    padding: 1px !important;
}




.historyTableStyle.ui-datatable table {
    border: solid 1px !important;
    width: 650px;
    height: 180px;
}

.historyTableStyle.ui-datatable tr td  {
    border : solid 1px !important;
}

/* for fix datatable column width */
.ui-datatable table {
    table-layout: auto !important;
}


.ui-datatable .ui-paginator {
    background: transparent;
}


.hide-column-names.ui-datatable table  {
    font-family: cursive;
    color: #000000;
    display: none !important;
}

.noheader.ui-datatable table thead {
    display: none;
}

.noheader.ui-datatable * {
    padding: 1px !important;
}


noheader.ui-datatable .ui-paginator {
    padding-top: 20px !important;
}


.ui-datascroller .ui-datascroller-item {
    width: 33%;
    display: inline-block;
}

.ui-datascroller-content {
    border: none;
}

.ui-autocomplete-panel {
    width: 400px !important;
}

/*test leaflet map*/
#clusteringMap {
    height: 180px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    white-space: pre-line;
}
